.document-item {
  display: grid;

  grid-template-columns:
    55px
    minmax(220px, 1fr)
    100px
    100px
    100px
    95px;

  align-items: center;

  min-height: 70px;

  margin-bottom: 7px;

  padding: 0 10px;

  border: 1px solid #efcbd7;
  border-radius: 7px;

  background-color: #ffffff;

  box-shadow: 0 2px 6px rgba(80, 30, 50, 0.08);
}

.document-file span {
  display: inline-flex;

  align-items: center;
  justify-content: center;

  width: 32px;
  height: 27px;

  border: 2px solid #ff001e;
  border-radius: 7px;

  color: #ff001e;

  font-size: 10px;
  font-weight: 500;
}

.document-name {
  padding-right: 19px;

  font-size: 14px;
  line-height: 14px;

  color: #000000;
}

/*TIPO / SETOR*/

.document-type span,
.document-access span {
  display: inline-flex;

  align-items: center;
  justify-content: center;

  min-width: 65px;
  min-height: 27px;

  padding: 0 7px;

  border-radius: 7px;

  font-size: 12px;
}

/*Técnico*/

.type-técnico {
  border: 2px solid #003172;

  background-color: #f3f7ff;

  color: #003172;
}

/*Normativo*/

.type-normativo {
  border: 2px solid #6e00db;

  background-color: #faf5ff;

  color: #6e00db;
}

/*Administrativo*/

.type-administrativo {
  border: 2px solid #31ac00;

  background-color: #f2fbfa;

  color: #31ac00;
}

/*Caso o tipo venha diferente dos anteriores*/

.document-type span:not(
  .type-técnico,
  .type-normativo,
  .type-administrativo
) {
  border: 2px solid #41444b;

  background-color: #f7f7f7;

  color:#41444b;
}

/*DATA*/

.document-date {
  font-size: 13px;

  color: #000000;
}

/*NÍVEL DE ACESSO*/

.access-gestor {
  border: 2px solid #9b0a00;

  background-color: #fff5f4;

  color: #9b0a00;
}

.access-usuário {
  border: 2px solid #2563eb;

  background-color: #f3f7ff;

  color: #2563eb;
}

.access-público {
  border: 2px solid #d37000;

  background-color: #f2fbfa;

  color: #d37000;
}

.document-access span:not(
  .access-gestor,
  .access-usuário,
  .access-público
) {
  border: 2px solid #6b7280;

  background-color: #f7f7f7;

  color: #4b5563;
}

/*AÇÃO*/

.document-action {
  display: flex;

  justify-content: flex-end;
}

.document-action button {
  display: flex;

  align-items: center;
  justify-content: center;

  gap: 1px;

  height: 27px;

  padding: 0 8px;

  border: 2px solid #00867b;
  border-radius: 7px;

  background-color: #ffffff;

  color: #00867b;

  font-size: 12px;

  cursor: pointer;
}

.document-action button:hover {
  background-color: #f3f8ff;
}

@media (max-width: 900px) {
  .document-item {
    grid-template-columns:
      45px
      minmax(180px, 1fr)
      80px
      90px
      85px
      85px;
  }
}