.document-list {
  width: 100%;
}

.document-header {
  display: grid;
  grid-template-columns: 125px minmax(220px, 1fr) 100px 100px 100px 100px;

  align-items: center;

  height: 30px;
  padding: 0 10px;

  color: #000000;
  font-size: 13px;
  font-weight: 800;
}

.empty-list {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100px;

  color: #8d7c83;
  font-size: 13px;
}